*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140;
    margin: 0 auto;

}

nav{
    padding: 1rem;
    background-color: #74e44ead;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu {
 display: flex;
 list-style: none;
 align-items: center;
}

.menu li {
 margin: 0 1rem;
}

.menu li a {
 color: white;
 text-decoration: none;
}

.menucontent{
    background-color: #acacac;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 2rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info{
    color: white;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(231, 152, 5);
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 10px;
}

.maincontent-ing{
    width: 100%;
    padding: 2rem;
}

.maincontent-ing img{
    width: 500px;
    height: 300px;
}

.content-item img{
    width: 376px;
    height: 250px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 2rem;
    margin-left: 20px;
}

.content-title{
    margin: 2rem 0;
}

.content-item h4{
    margin-top: 1rem;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 196, 0);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: #9b9b9b;
    color: white;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: white;
    color: rgb(134, 134, 134);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-buttom{
    background-color: rgb(216, 216, 216);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.content-down{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 2rem;
    margin-left: 20px;
    color: white;
}

.content-con{
    color: white;
}

.content{
    color: rgb(0, 0, 0);
}

.content-title{
    margin-left: 2rem;
}

.content-concuoror{
    margin-top: 1rem;
}

.content-cos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 2rem;
    margin-left: 30px;
    color: white;
}

.content-item{
    margin-top: 1rem;
}

.content-dos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 2rem;
    margin-left: 20px;
    color: white;
}
.content-conhost{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 2rem;
    margin-left: 200px;
    color: white;
}